:root {
    --clr-main: #fbc8f0;
    --clr-secondary: #ff41d3;
    --clr-main-light: #efdaf9;
    --clr-texto-titulos: #ae00bb;
}

.navbar {
    border-bottom: 0.2rem solid var(--clr-secondary);
}

.bg-rosa {
    background-color: var(--clr-main);
}

.text-titulo-rosa{
    color: var(--clr-texto-titulos);
    font-weight: 600;
}

.bg-rosa-second {
    background-color: var(--clr-main) !important;
}

.nav-link {
    color: var(--clr-texto-titulos) !important;
    font-weight: 600;    
}



.carousel-inner img{
    max-height: 700px !important;
}

.navbar-brand img{
    max-height: 3rem;    
}

.card-img-top{
    max-height: 15rem;
}

.carousel-caption{
    background-color: #f237ff73;
}